---
name: Build

on:
  workflow_dispatch:
  pull_request:
  push:

permissions:
  contents: write
  packages: write

env:
  CONTAINER_TAGS: |-
    ghcr.io/hansmi/modbus-exporter-modules:latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Variable setup
        id: vars
        run: |
          shopt -s extglob

          version=$(git describe --always --tags --dirty)

          release_enabled=

          if [[ "${GITHUB_EVENT_NAME:?}" = +(push|workflow_dispatch) && "${GITHUB_REF:?}" = refs/tags/v[0-9]*.* ]]; then
            release_enabled=true
          fi

          {
            echo "MAKEFLAGS=-j$(nproc)"
            echo "PACKAGE_VERSION=${version}"
          } | tee -a $GITHUB_ENV

          {
            echo "release_enabled=${release_enabled}"
          } | tee -a $GITHUB_OUTPUT

      - name: Go setup
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Python setup
        uses: actions/setup-python@v6
        with:
          python-version: ">=3.11"
          cache: pip

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Cache external resources
        uses: actions/cache@v4
        with:
          path: cache/
          key: external-resources

      - name: Build
        run: |
          make \
            ${PACKAGE_VERSION:+PACKAGE_VERSION="${PACKAGE_VERSION}"} \
            ${CONTAINER_TAGS:+CONTAINER_TAGS="${CONTAINER_TAGS}"} \
            dist container

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: modbus-exporter-modules-${{ github.sha }}-${{ hashFiles('dist/**') }}
          path: dist/**
          if-no-files-found: error

      - name: Check for differences
        run: |
          git diff --exit-code

      - name: GitHub Container Registry login
        if: steps.vars.outputs.release_enabled
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload binaries to release
        if: steps.vars.outputs.release_enabled
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          file: dist/modbus-exporter-modules-*.tar.gz

      - name: Upload container to registry
        if: steps.vars.outputs.release_enabled
        run: |
          for i in ${CONTAINER_TAGS}; do
            docker push "$i"
          done

# vim: set sw=2 sts=2 et :
